# Environment variables -------------------------------------------------------

set fish_greeting

set -gx EDITOR vim
set -gx LC_ALL en_US.UTF-8

# Python variables

set -gx PYTHONSTARTUP "$HOME/.pythonrc.py"
set -gx WORKON_HOME {{ default "$HOME/.virtualenvs" (index . "virtualenv_home") | quote }}
set -gx PROJECT_HOME {{ if eq .chezmoi.os "darwin" }}"$HOME/Projects"{{ else }}"$HOME/projects"{{ end }}
set -g VIRTUALFISH_HOME $WORKON_HOME
set -g VIRTUALFISH_COMPAT_ALIASES "True"
set -g VIRTUALFISH_DEFAULT_PYTHON "$HOME/.asdf/installs/python/{{ .python }}/bin/python"
set -gx PIPX_DEFAULT_PYTHON "$HOME/.asdf/shims/python"

{{ if eq .chezmoi.os "darwin" -}}
# Homebrew variables

set -gx HOMEBREW_PREFIX "/opt/homebrew"
set -gx HOMEBREW_CELLAR "/opt/homebrew/Cellar"
set -gx HOMEBREW_REPOSITORY "/opt/homebrew"
{{- end }}

# Other variables


# Fish functions and modules ---------------------------------------------

if status is-interactive
{{ if eq .chezmoi.os "darwin" -}}
    set tacklebox_path $HOME/.tackle
    set tacklebox_modules virtualfish virtualhooks
    set tacklebox_plugins docker extract hg grc pip python up vundle
    set tacklebox_theme entropy
    source $HOME/.tacklebox/tacklebox.fish
{{- end }}
    source $HOME/.config/fish/iterm.fish

    # asdf
    source {{ if eq .chezmoi.os "darwin" }}/opt/homebrew/opt/asdf/libexec{{ else }}$HOME/.asdf{{ end }}/asdf.fish
end

# Bindings --------------------------------------------------------------------

bind \cc kill-whole-line repaint
