{{- $fullname := promptStringOnce . "fullname" "Full name" -}}

{{- $email := promptStringOnce . "email" "Email" -}}

{{- $python := promptStringOnce . "python" "Primary Python version" -}}

{{- $vim_swap_jk := promptStringOnce . "vim_swap_jk" "Swap J/K keys (true/false)" -}}

{{- $virtualenv_home := promptStringOnce . "virtualenv_home" "virtualenv_home directory name in $HOME/" -}}

{{- $git_mergetool := promptStringOnce . "git_mergetool" "External merge tool ('kaleidoscope' or Return for none)" -}}


[data]
    fullname = {{ $fullname | quote }}
    email = {{ $email | quote }}
    git_mergetool = {{ $git_mergetool | quote }}
    python = {{ $python | quote }}
    vim_swap_jk = {{ $vim_swap_jk | quote }}
    virtualenv_home = {{ print "$HOME/" $virtualenv_home | quote }}
{{- if eq $git_mergetool "kaleidoscope" }}
[diff]
    command = "ksdiff"
{{- end }}
