[user]
    name = {{ .fullname | quote }}
    email = {{ .email | quote }}

[alias]
    remotes = remote -v
    branches = branch -a
    tags = tag -l

    currentbranch = rev-parse --abbrev-ref HEAD
    id = rev-parse --short HEAD
    lg = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

    forcepush = push --force-with-lease --force-if-includes
    unstage = reset --

    st = status -sb
    co = checkout
    sw = switch

    movebranch = "!f() { \
        : git checkout \
        git rebase --onto $2 $(git merge-base $1 @) \
    }; f"

    squash = "!f() { \
        : git show ; \
        git -c sequence.editor=: rebase -i ${1:-@~10}; \
    }; f"

[color]
    ui = auto

[core]
    excludesfile = ~/.gitignore

[diff]
    algorithm = histogram
    colorMoved = default
{{- if (eq .git_mergetool "kaleidoscope") }}
    tool = Kaleidoscope
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
    prompt = false
[merge]
    tool = Kaleidoscope
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
[mergetool]
    prompt = false{{ end }}

[push]
    default = simple

[rebase]
    autosquash = true
    autostash = true
