[user]
    name = {{ .fullname | quote }}
    email = {{ .email | quote }}

[alias]
    remotes = remote -v
    branches = branch -a
    tags = tag -l

    currentbranch = rev-parse --abbrev-ref HEAD
    id = rev-parse --short HEAD
    lg = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

    forcepush = push --force-with-lease --force-if-includes
    unstage = reset --

    st = status -sb
    co = checkout
    sw = switch

    df = "!f() { if [ $(tput cols) -gt 160 ]; then git -c 'core.pager=delta --side-by-side' diff; else git diff; fi }; f"
    ds = "!f() { if [ $(tput cols) -gt 160 ]; then git -c 'core.pager=delta --side-by-side' diff --staged; else git diff --staged; fi }; f"

    movebranch = "!f() { \
        : git checkout \
        git rebase --onto $2 $(git merge-base $1 @) \
    }; f"

    squash = "!f() { \
        : git show ; \
        git -c sequence.editor=: rebase -i ${1:-@~10}; \
    }; f"

[blame]
    ignoreRevsFile = .git-blame-ignore-revs
    # Mark any lines that have had a commit skipped using --ignore-rev with a `?`
    markIgnoredLines = true
    # Mark any lines that were added in a skipped commit and can not be attributed with a `*`
    markUnblamableLines = true

[color]
    ui = auto

[color "diff"]
    oldMoved = bold brightmagenta "#3f0001"
    oldMovedAlternative = bold brightmagenta "#3f0001"
    newMoved = bold brightblue "#002800"
    newMovedAlternative = bold brightblue "#002800"

[core]
    excludesfile = ~/.gitignore
    pager = delta

[delta]
    grep-output-type = ripgrep
    minus-color = "#340001"
    plus-color = "#012800"
    syntax-theme = Monokai Extended

[interactive]
    diffFilter = delta --color-only

[diff "ansible-vault"]
    textconv = ansible-vault view
[diff]
    algorithm = histogram
    colorMoved = default
    noprefix = true
{{- if (eq .git_mergetool "kaleidoscope") }}
    tool = Kaleidoscope
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
    prompt = false
[log]
    # Always follow renames when checking the log for a single file
    follow = true
[merge]
    tool = Kaleidoscope
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
[mergetool]
    prompt = false{{ end }}

[push]
    default = simple
    autoSetupRemote = true

[rebase]
    autosquash = true
    autostash = true
