[user]
    name = {{ .fullname | quote }}
    email = {{ .email | quote }}

[alias]
    remotes = remote -v
    branches = branch -a
    tags = tag -l

    currentbranch = rev-parse --abbrev-ref HEAD
    id = rev-parse --short HEAD
    lg = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

    unstage = reset --

    st = status -sb
    co = checkout
    sw = switch

[color]
    ui = auto

[core]
    excludesfile = ~/.gitignore

[push]
    default = simple

[diff]
    algorithm = histogram
    colorMoved = default
{{- if (eq .git_mergetool "kaleidoscope") }}
    tool = Kaleidoscope
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
    prompt = false
[merge]
    tool = Kaleidoscope
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
[mergetool]
    prompt = false{{ end }}
