# Environment variables -------------------------------------------------------

set fish_greeting

set -gx EDITOR vim
set -gx LC_ALL en_US.UTF-8

# Python variables

set -gx PYTHONSTARTUP "$HOME/.pythonrc.py"
set -gx WORKON_HOME {{ default "$HOME/.virtualenvs" (index . "virtualenv_home") | quote }}
set -gx PROJECT_HOME {{ if eq .chezmoi.os "darwin" }}"$HOME/Projects"{{ else }}"$HOME/projects"{{ end }}
set -g VIRTUALFISH_HOME $WORKON_HOME
set -g VIRTUALFISH_COMPAT_ALIASES "True"
set -g VIRTUALFISH_DEFAULT_PYTHON "$HOME/.local/share/mise/installs/python/{{ .python }}/bin/python"
set -gx PIPX_DEFAULT_PYTHON "$HOME/.local/share/mise/installs/python/{{ .python }}/bin/python"

{{ if eq .chezmoi.os "darwin" -}}
# Homebrew variables

set -gx HOMEBREW_PREFIX "/opt/homebrew"
set -gx HOMEBREW_CELLAR "/opt/homebrew/Cellar"
set -gx HOMEBREW_REPOSITORY "/opt/homebrew"
{{- end }}

# Other variables

# Use Bat to colorize "man" pages
set -x MANPAGER "sh -c 'col -bx | bat -l man -p'"

# Fish functions and modules ---------------------------------------------

if status is-interactive
    # Plug.fish
    set plugins \
        https://github.com/kidonng/plug.fish \
        https://github.com/justinmayer/entropy-theme
    source $__fish_user_data_dir/plugins/plug.fish/conf.d/plugin_load.fish
{{ if eq .chezmoi.os "darwin" }}
    set tacklebox_path $HOME/projects/tackle
    set tacklebox_plugins extract up
    source $HOME/projects/tacklebox/tacklebox.fish
{{- end }}

    # Load iTerm shell integration
    source $HOME/.config/fish/iterm.fish

    if type -q zoxide
        zoxide init fish | source
    end
end

# Bindings --------------------------------------------------------------------

bind \cc kill-whole-line repaint
